<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Fire Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Fire Pokemon</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1 class="ion-padding-start ion-padding-end">
    Pick your fire type Pokemon
  </h1>
    <ng-container *ngIf="!userSelectService.usersFirePokemon">
      <ng-container *ngFor="let details of fireDetails">
        <ion-card 
          *ngIf="details.sprites.front_default && details.sprites.back_default" 
          [button]="true" class="ion-center" 
          (click)="firePokemonSelect(
            'fire', 
            details.name, 
            details.sprites.front_default,
            details.id)"
        >
          <ion-ripple-effect></ion-ripple-effect>
          <img [src]="details.sprites.front_default" alt="pokemon" class="pokemon">
            <ion-card-header >
                <ion-card-title>{{details.name}}</ion-card-title>
                <ion-card-subtitle>I Choose You</ion-card-subtitle>
            </ion-card-header>
        </ion-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="userSelectService.usersFirePokemon">
      <ion-card>
        <img [src]="userSelectService.usersFirePokemonSprite" alt="pokemon" class="pokemon">
        <ion-card-header>
          <ion-card-title>{{userSelectService.usersFirePokemon}}</ion-card-title>
          <ion-card-subtitle>Your choosen fire Pokemon is</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-button (click)="clearPokemon()">Pick a new fire Pokemon</ion-button>
    </ng-container>
</ion-content>
